{
    "presets": [
        "stage-0",
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "> 2%"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        "transform-runtime"
    ]
}
