{
    "extends": [
        "airbnb",
        "plugin:flowtype/recommended"
    ],
    "parser": "babel-eslint",
    "plugins": [
        "flowtype"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "./Resources/tests/**"
                ]
            }
        ],
        "arrow-body-style": [
            1
        ],
        "indent": [
            2,
            4
        ],
        "max-len": 1,
        "camelcase": 1,
        "class-methods-use-this": 1,
        "no-param-reassign": 1,
        "no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "args": "after-used"
            }
        ],
        "react/jsx-boolean-value": 0,
        "react/jsx-indent": [
            2,
            4
        ],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/no-unused-prop-types": [
            0
        ],
        "flowtype/boolean-style": [
            2,
            "boolean"
        ],
        "flowtype/define-flow-type": 1,
        "flowtype/delimiter-dangle": 0,
        "flowtype/generic-spacing": [
            2,
            "never"
        ],
        "flowtype/no-primitive-constructor-types": 2,
        "flowtype/no-weak-types": 2,
        "flowtype/object-type-delimiter": [
            2,
            "comma"
        ],
        "flowtype/require-parameter-type": 2,
        "flowtype/require-return-type": [
            2,
            "always",
            {
                "annotateUndefined": "never"
            }
        ],
        "flowtype/require-valid-file-annotation": 2,
        "flowtype/semi": [
            2,
            "always"
        ],
        "flowtype/space-after-type-colon": [
            2,
            "always"
        ],
        "flowtype/space-before-generic-bracket": [
            2,
            "never"
        ],
        "flowtype/space-before-type-colon": [
            2,
            "never"
        ],
        "flowtype/type-id-match": [
            2,
            "^([A-Z]+[a-z0-9]+)+Type$"
        ],
        "flowtype/union-intersection-spacing": [
            2,
            "always"
        ],
        "flowtype/use-flow-type": 1,
        "flowtype/valid-syntax": 1
    },
    "settings": {
        "classes": true,
        "flowtype": {
            "onlyFilesWithFlowAnnotation": true
        }
    }
}
