.example {
    color: white;
    background-color: #444;
    padding: 0;
    margin: 0;
    width: auto;
}

.example:after {
    content: "";
    display: table;
    clear: both;
}

.view {
    /* padding: 5px; */
    float: left;
}

.mark-path>path {
    fill: #C4FFC9 !important;
    fill-opacity: 0.3 !important;
    stroke-width: 0.1 !important;
}

.mark-path>path:hover {
    fill: #EEEA00 !important;
    fill-opacity: 1 !important;
    stroke-width: 5 !important;
    stroke: #00ffff !important;
}